<div class="container-fluid" class="settings-bar">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="container-fluid">
        <div class='row'>
          <div class="col-md-3">
            <ng-select [items]="flightDateChoices" placeholder="Date"
            (clear)="onFilter($event)"
            (add)="onFilter($event)" [(ngModel)]="date"
            >
          </ng-select>
        </div>
        <div class="col-md-3">
          <ng-select [items]="deptChoices" placeholder="Flight From"
          (clear)="onFilter($event)"
          (add)="onFilter($event)"
          [(ngModel)]="dept">
        </ng-select>
      </div>
      <div class="col-md-3">
        <ng-select [items]="arrChoices" placeholder="Flight To"
           (clear)="onFilter($event)"
           (add)="onFilter($event)"
           [(ngModel)]="arr">
      </ng-select>
    </div>
    <div class="col-md-3">
      <ng-select [items]="flightNumChoices" placeholder="Flight No."
      (clear)="onFilter($event)"
      (add)="onFilter($event)"
      [(ngModel)]="flightNum">
    </ng-select>
  </div>
</div>
</div>
</div>
</div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-block" style="height: auto; min-height: 400px;">
                <h4 class="card-title">Flight Map</h4>
                <hr />
                <app-connectionmap [filters]="filters"></app-connectionmap>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="container-fluid center-align">
        <div class="row">
          <div class="col-md-3">
            <div class="card" *ngIf="flightCount">
              <div class="card-block">
                <h2>{{ flightCount }}</h2>
                No. of Flight(s)
                <br /><br />
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card" *ngIf="initialCount">
              <div class="card-block">
                <h2 style="color: #00b862;">{{ initialCount }}</h2>
                Initial Count
                <br /><br />
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card" *ngIf="finalCount">
              <div class="card-block">
                <h2 style="color: #2196f3;">{{ finalCount }}</h2>
                Final Count
                <br /><br />
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card" *ngIf="consumption">
              <div class="card-block">
                <h2 style="color: #ff5722;">{{ consumption }}%</h2>
                Consumption
                <br /><br />
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-block" style="height: auto;">
                <h4 class="card-title">Consumption Count by Brand</h4>
                <hr />
                <app-barchart [filters]="filters" class="center-align"></app-barchart>
              </div>
            </div>
          </div>
        </div>
      </div>
<!--
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-block" style="height: 400px;">
                <h4 class="card-title">Consumption Data</h4>
                <hr />

              </div>
            </div>
          </div>
        </div>
      </div> -->

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <!-- <div class="card">
              <div class="card-block" style="height: 400px;">
                <h4 class="card-title">Consumption Data</h4>
                <hr /> -->
                <app-table [filters]="filters"></app-table>
              <!-- </div>
            </div> -->
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
