<div class="container-fluid" class="settings-bar center-align">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="container-fluid">
        <div class='row'>
          <div class="col-md-3">
            <ng-select [items]="items" placeholder="Sort By"
           [(ngModel)]="sort">
         </ng-select>
          </div>
          <div class="col-md-3">
            <ng-select [items]="deptChoices" placeholder="Flight From"
           [(ngModel)]="dept">
         </ng-select>
          </div>
          <div class="col-md-3">
            <ng-select [items]="arrChoices" placeholder="Flight To"
           [(ngModel)]="arr">
         </ng-select>
          </div>
          <div class="col-md-3">
            <ng-select [items]="flightNumChoices" placeholder="Flight No."
           [(ngModel)]="flightNum">
         </ng-select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-10">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-block" style="height: 400px;">
                <h4 class="card-title">Flight Map</h4>
                <hr />
                  <br /><br />
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="container-fluid center-align">
        <div class="row">
          <div class="col-md-3">
            <div class="card">
              <div class="card-block">
                <h2>2</h2>
                  Flight Data Points
                  <br /><br />
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-block">
                <h2>40</h2>
                  Initial Count
                  <br /><br />
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-block">
                <h2>30</h2>
                  Final Count
                  <br /><br />
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card">
              <div class="card-block">
                <h2>25%</h2>
                  Consumption
                  <br /><br />
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-block" style="height: 400px;">
                <h4 class="card-title">Consumption % by Brand</h4>
                <hr />
                  <br /><br />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-block" style="height: 400px;">
                <h4 class="card-title">Flight Consumption Information</h4>
                <hr />
                  <br /><br />
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
