<br /><br /><br />
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <div class="card">
        <div class="card-block" style="height: auto;">
          <h4 class="card-title">Alcohol Consumption Distribution By Brand</h4>
          <hr />
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <br />
                  <canvas id="pieChart" height="150" width="250"></canvas>
                  <br />
              </div>
              <div class="col-md-6">
                <table class="table table-compact table-noborder" style="margin-top: 0px; margin-bottom: 10px;">
            <thead>
                <tr>
                    <th class="left">Brand</th>
                    <th>Consumed Units</th>
                    <th>Consumed %</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let brand of brandTable">
                    <td class="left"><clr-icon shape="circle" [style.color]="brand.color" class="is-solid"></clr-icon> &nbsp; {{ brand.item }}</td>
                    <td>{{ brand.consumption }}</td>
                    <td>{{ brand.percent }}</td>
                </tr>
            </tbody>
        </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <div class="card">
        <div class="card-block" style="height: auto;">
          <h4 class="card-title">Top 10 Flights by Consumption Count</h4>
          <hr />
          <canvas id="top10Chart" width="400" height="200"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">

    </div>
    <div class="col-md-10">
      <div class="card">
        <div class="card-block" style="height: auto;">
          <h4 class="card-title">Bottom 10 Flights by Consumption Count</h4>
          <hr />
          <canvas id="bottom10Chart" width="400" height="200"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
