<clr-datagrid>
  <clr-dg-column>Flight No.</clr-dg-column>
  <clr-dg-column>Date</clr-dg-column>
  <clr-dg-column>Dept</clr-dg-column>
  <clr-dg-column>Dept Time</clr-dg-column>
  <clr-dg-column>Arr</clr-dg-column>
  <clr-dg-column>Arr Time</clr-dg-column>
  <clr-dg-column>Employee #</clr-dg-column>
  <clr-dg-column>Data Point</clr-dg-column>
  <clr-dg-column>Total</clr-dg-column>

  <clr-dg-row>
    <clr-dg-cell>1</clr-dg-cell>
    <clr-dg-cell>13/08/18</clr-dg-cell>
    <clr-dg-cell>ATL</clr-dg-cell>
    <clr-dg-cell>9:01:00 AM</clr-dg-cell>
    <clr-dg-cell>JFK</clr-dg-cell>
    <clr-dg-cell>10:01:00 AM</clr-dg-cell>
    <clr-dg-cell>2000035</clr-dg-cell>
    <clr-dg-cell>Initial</clr-dg-cell>
    <clr-dg-cell>456</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>flights</clr-dg-footer>
</clr-datagrid>
