<clr-datagrid>
  <clr-dg-column>ID</clr-dg-column>
  <clr-dg-column>Flight No.</clr-dg-column>
  <clr-dg-column>Date</clr-dg-column>
  <clr-dg-column>Dept</clr-dg-column>
  <clr-dg-column>Dept Time</clr-dg-column>
  <clr-dg-column>Arr</clr-dg-column>
  <clr-dg-column>Arr Time</clr-dg-column>
  <clr-dg-column>Initial</clr-dg-column>
  <clr-dg-column>Final</clr-dg-column>
  <clr-dg-column>Consumed</clr-dg-column>
  <clr-dg-column>%</clr-dg-column>

  <clr-dg-row *clrDgItems="let flight of flights">
    <clr-dg-cell>{{ flight["Flight Count"] }}</clr-dg-cell>
    <clr-dg-cell>{{ flight["Flt #"] }}</clr-dg-cell>
    <clr-dg-cell>{{ flight["Date"] }}</clr-dg-cell>
    <clr-dg-cell>{{ flight["Dept"] }}</clr-dg-cell>
    <clr-dg-cell>{{ flight["Dept Time"] }}</clr-dg-cell>
    <clr-dg-cell>{{ flight["Arvl"] }}</clr-dg-cell>
    <clr-dg-cell>{{ flight["Arrv Time"] }}</clr-dg-cell>
    <clr-dg-cell>{{ flight["Initial"] }}</clr-dg-cell>
    <clr-dg-cell>{{ flight["Final"] }}</clr-dg-cell>
    <clr-dg-cell>{{ flight["Totals"] }}</clr-dg-cell>
    <clr-dg-cell>{{ flight["Consumption"] }}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
        {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
        of {{pagination.totalItems}} flights
    </clr-dg-pagination>
</clr-dg-footer>
</clr-datagrid>
